.dyka__hero  {
	background-image: url('../../assets/heroimage.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	height: 60vh;

}


@media screen and (max-width: 400px) {
	.dyka__hero {
		height: 30vh;
	}
}